<div class="modal modal-fade" id="user-change-modal-id" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>({title})</h4>
            </div>
            <div class="modal-body">
                <input type="password" placeholder="Contraseña" class="form-control" :value="password"
                    @input="ev => password = ev.target.value">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @click="handleChangePassword">Cambiar</button>
            </div>
        </div>
    </div>
</div>

<script>
    const vueAppParams = {
        delimiters: ['({', '})'],
        data() {
            return {
                title: '',
                password: ''
            }
        },
        mounted() {
            const modal = document.getElementById('user-change-modal-id');
            modal.addEventListener("show.bs.modal", () => {
                const name = modal.getAttribute("data-user-name") || 'Usuario';
                this.title = `Cambio de contraseña | ${name}`
            })

            modal.addEventListener("hide.bs.modal", () => {
                this.title = ''
                this.password = ''
            })

        },
        methods: {
            handleChangePassword() {
                const allow = confirm("¿Confirma el cambio de contraseña?");
                const modal = document.getElementById('user-change-modal-id');
                const bsModal = bootstrap.Modal.getInstance(modal);

                if(!allow) {
                    bsModal.hide();
                    return;
                }

                const id = document.getElementById("user-change-modal-id").getAttribute("data-user-id")
                fetch(`/api/users/changePassword/${id}`, {
                    method: "post",
                    body: JSON.stringify({ password: this.password }),
                    headers: {
                        "content-type": "application/json",
                        "accept": "application/json"
                    }
                })

                    .then(response => response.json())
                    .then(response => {
                        if (response.error) {
                            alert(response.message)
                        }

                        bsModal.hide();

                    })
            }
        }
    }

    window.addEventListener("DOMContentLoaded", () => {
        Vue.createApp(vueAppParams).mount("#user-change-modal-id");
    })
</script>