<div class="modal fade" tabindex="-1" id="lista-empresas-modal-id" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Selecciona la empresa</h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <div id="empresas-loading">
                    <div class="spinner-border text-primary me-2" role="status" aria-hidden="true"></div>
                    <span>Obteniendo empresas&hellip;.</span>
                </div>
                <ul class="list-group" id="list-group-empresas"></ul>
            </div>
        </div>
    </div>
</div>

<script>

    const listaEmpresasModal = document.getElementById("lista-empresas-modal-id");

    const seleccionarEmpresa = (empresa, dbname) => {
        const nombreEmpresaElement = document.getElementById("nombre-empresa-id");
        nombreEmpresaElement.textContent = empresa
        window.sessionStorage.setItem("empresa", empresa)
        window.sessionStorage.setItem("dbname", dbname)
        
        bootstrap.Modal.getInstance(listaEmpresasModal).hide();

    }

    const obtenerEmpresas = async () => {
        const listGroup = document.getElementById("list-group-empresas");
        const loadingElement = document.getElementById("empresas-loading");
        const classes = ["d-flex","align-items-center","mb-3"];

        loadingElement.classList.add(...classes);
        
        const response = await contpaqiSDK.contabilidad("").listaEmpresas();
        
        loadingElement.classList.remove(...classes);
        loadingElement.classList.add("d-none");

        listGroup.innerHTML = ''
        
        response.empresas.map(empresa => {
            const li = document.createElement("li")
            li.classList.add("list-group-item", "pointer")
            li.textContent = empresa.empresa
            li.onclick = () => seleccionarEmpresa(empresa.empresa, empresa.dbname)
            listGroup.appendChild(li)
        })
    }

    window.addEventListener("DOMContentLoaded", () => {

        if (!listaEmpresasModal) return;

        listaEmpresasModal.addEventListener("shown.bs.modal", () => {
            obtenerEmpresas();
        });

        const empresa = window.sessionStorage.getItem("empresa");

        if (empresa === null) {
            obtenerEmpresas();
            new bootstrap.Modal(listaEmpresasModal).show();
        }

    })
</script>