<div class="modal modal-fade" tabindex="-1" id="loading-modal-id">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Obteniendo datos del servidor</h4>
            </div>
            <div class="modal-body">
                <div class="modal-body d-flex justify-content-between align-items-center">
                    <h5>Cargando....</h5>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>